.faq {
  margin: 100px;
}
.faq .faq-header {
  width: 100%;
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  color: #00666b;
  text-align: justify;
  font-family: "Calibri";
}

.faq .faq-para {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-align: justify;
}
.faq .map-frame {
  width: 800px;
  height: 450px;
}

@media screen and (max-width: 720px) {
  .faq {
    margin: 30px;
  }
  .faq .faq-header {
    width: 100%;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    color: #00666b;
    text-align: justify;
    font-family: "Calibri";
  }

  .faq .faq-para {
    width: 100%;
    margin: 0;
    font-size: 16px;
    color: #000;
    text-align: justify;
  }

  .faq .map-frame {
    width: 300px;
    height: 200px;
  }
}
