/*------------------------------------------------------------
# Global classes
------------------------------------------------------------*/
.flex {
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: hsl(0, 0%, 90%);
}

@font-face {
  font-family: "mountains";
  src: url(fonts/beyond_the_mountains.ttf);
  src: url(fonts/beyond_the_mountains.otf);
  font-weight: 400;
}

.d-col-n {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
/*------------------------------------------------------------
# site-header
------------------------------------------------------------*/

.site-header {
  position: relative;
  width: 100%;
}

.site-header figure {
  margin: 0;
  padding: 0;
}

.site-header figure img {
  max-width: 100%;
}

/*------------------------------------------------------------
## header-bar
------------------------------------------------------------*/
.site-header .header-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 10px;
}

.header-bar .site-branding {
  margin-bottom: 0;
  font-size: 34px;
  font-weight: 800;
}

.header-bar .site-branding a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Calibri";
}
.site-branding {
  flex: row;
}
.site-branding .iitr {
  font-family: "Calibri";
  font-size: 12px;
}
@media screen and (max-width: 720px) {
  .site-branding .iitr {
    font-family: "Calibri";
    font-size: 8px;
  }
}
/* If the screen size is 992px wide or more, set the font-size of <div> to 80px */

/* If the screen size is 991px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 992px) {
  a.summit-branding {
    font-size: 18px;
  }
}
/*------------------------------------------------------------
### site-navigation
------------------------------------------------------------*/
/*
  site_logo
----------------------------------------*/

.site-header .theme-logo {
  background: url(/images/event_logo.png);
  width: 180px;
  height: 85px;
  background-size: cover;
}
@media screen and (max-width: 720px) {
  .site-header .theme-logo {
    background: url(/images/event_logo.png);
    width: 50px;
    height: 25px;
    background-size: cover;
  }
}
/*
  Hamburger Menu
----------------------------------------*/
.hamburger-menu {
  position: relative;
  width: 100%;
  max-width: 24px;
  height: 22px;
  margin-left: auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #efc319;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
  top: 2px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
  top: 10px;
}

.hamburger-menu span:nth-child(4) {
  top: 18px;
}

.hamburger-menu.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.site-navigation {
  position: absolute;
  top: -11px;
  right: 15px;
  z-index: 9999;
  width: 100%;
  height: 22px;
  overflow: hidden;
  list-style: none;
  transition: all 0.35s;
  color: #fff;
}

.site-navigation.show {
  height: auto;
}
.site-navigation ul {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 9999;
  width: 320px;
  height: 100vh;
  overflow-x: scroll;
  padding: 30px;
  margin: 0;
  background: #050505;
  transition: all 0.35s;
}

.site-navigation.show ul {
  left: 0;
}

.site-navigation ul li {
  display: block;
  padding: 10px 0;
}

.site-navigation ul li a {
  display: block;
  color: #efc319;
  font-family: "Calibri";
  transition: all 0.35s;
  text-decoration: none;
  font-size: 20px;
  padding-left: 40px;
}

@media screen and (min-width: 992px) {
  .header-bar .site-branding {
    margin-left: 35px;
  }

  .site-navigation {
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    padding-right: 35px;
    background: transparent;
  }

  .site-navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: auto;
    background: transparent;
  }

  .site-navigation ul li {
    padding: 0;
  }

  .site-navigation ul li a {
    color: #efc319;
  }
}

/*------------------------------------------------------------
# nss and iitr logos
-----------------------------------------------------------*/
.hero-content .logos {
  display: block;
  margin-bottom: 40px;
  width: 50%;
}
.hero-content .nss-logo,
.iitr-logo {
  padding: 20px;
  max-width: 150px;
  height: 150px;
}
.hero-content .divider {
  width: 4px;
  background-color: #fff;
  margin: 10px 0 10px 0;
}

/*------------------------------------------------------------
# theme_content
-----------------------------------------------------------*/

.card {
  text-align: center;
  background: #f5de78;
  margin-top: 50px;
  border-radius: 8px;
  display: inline-block;
  height: auto;
  padding: 24px;
  margin: 38px;
  position: relative;
  width: auto;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-2 p {
  margin: 20px;
  color: #03070c;
  font-size: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card-2 .main-content {
  text-align: justify;
}

@media screen and (max-width: 720px) {
  .card {
    text-align: center;
    background: #f5de78;
    margin-top: 10px;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    padding: 12px;
    margin: 18px;
    position: relative;
    width: auto;
  }
  .card h2 {
    font-size: 20px;
  }

  .card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .card-2 p {
    margin: 10px;
    color: #03070c;
    font-size: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .card-2 .main-content {
    text-align: justify;
  }
}

/*------------------------------------------------------------
# brochure_container
-----------------------------------------------------------*/
.brochure_container {
  margin: 100px;
  width: max-content;
}

.box {
  width: 720px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fff1b8 url(images/water-mark1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.box .btn {
  display: inline-block;
  padding: 8px 24px;
  border: solid 1px transparent;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.brochure_preview iframe {
  top: 0;
  left: 0;
  width: 700px;
  height: 550px;
}

@media screen and (max-width: 720px) {
  .brochure_container {
    position: relative;
    text-align: center;
    margin: 0px 10px 10px 0px;
    width: auto;
  }

  .box {
    position: relative;
    margin-left: 40px;
    width: auto;
    height: auto;
    background: #fff1b8 url(images/water-mark1-sm.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .box .btn {
    display: inline-block;
    padding: 8px 24px;
    border: solid 1px transparent;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
  .box .btn-primary {
    border-color: #226663;
    color: #226663;
    margin: 6px;
  }

  .brochure_preview {
    position: relative;

    margin: 40px;
  }

  .brochure_preview iframe {
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
  }
}
.box .btn-primary {
  border-color: #226663;
  color: #226663;
  margin: 10px;
}
.box .btn-primary:hover {
  background: #226663;
  color: #fff;
}
/*------------------------------------------------------------
# hero
-----------------------------------------------------------*/
.hero-content {
  width: 100%;
  padding: 120px 0;
  background: url("images/cover-images/home-cover.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 720px) {
  .hero-content {
    display: block;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 0px;
    background: url("images/cover-images/home-cover-sm.jpg") no-repeat;
  }
}

.hero-content .custom-button {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
.hero-content .custom-button .btn {
  background-color: #226663;
  color: #fcca04;
  margin: 10px;
  font-size: 20px;
}

@media screen and (max-width: 720px) {
  .hero-content .custom-button {
    position: relative;
    text-align: center;
    margin-top: 60px 0px 20px 0px;
  }
  .hero-content .custom-button .btn {
    background-color: #226663;
    color: #fcca04;
    margin: 10px;
    font-size: 16px;
  }
}

.hero-content .typewriter {
  position: relative;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .hero-content .typewriter- h2 {
    font-size: 80px;
    text-align: center;
    margin: 50px;
  }

  .hero-content .typewriter .entry-meta-date {
    top: 60px;
  }
}

.typewriter h2 {
  height: 150px;
  /* padding: auto; */
  font-family: mountains;
  color: #59f1e7;
  margin-top: 50px;
  font-size: 80px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #efc319; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-delay: 1s;
}

@media screen and (max-width: 720px) {
  .hero-content .typewriter {
    position: absolute;
    text-align: center;
  }

  .typewriter h2 {
    height: 40px;
    padding-left: 30px;
    font-family: mountains;
    color: #59f1e7;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid #efc319; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-delay: 1s;
  }

  .hero-content .typewriter- h2 {
    font-size: 28px;
    text-align: center;
    margin: 50px;
  }

  .hero-content .typewriter .entry-meta-date {
    top: 20px;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/*------------------------------------------------------------
# The Lineup Artists - Headliners
------------------------------------------------------------*/
.content-section {
  width: 100%;
  padding-bottom: 120px;
  background: url("images/bg-images/middle-cover.png") no-repeat;
  background-size: auto;
}

.content-section .middle-cover {
  margin: 0;
  padding: 0;
  position: relative;
}

.content-section .middle-cover img {
  max-width: 100%;
}
*/

/*------------------------------------------------------------
## lineup-artists-headline
------------------------------------------------------------*/
.lineup-artists-headline {
  margin-top: 115px;
}

.lineup-artists-headline .entry-title p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: hsl(0, 0%, 48%);
}

.lineup-artists-headline .entry-title h2 {
  width: 100%;
  font-size: 48px;
  font-weight: 600;
  color: hsl(0, 0%, 0%);
  font-family: "Calibri";
  font-weight: bold;
}

/*------------------------------------------------------------
## lineup-artists
------------------------------------------------------------*/
.lineup-artists {
  padding-top: 80px;
}

.lineup-artists .featured-image {
  margin: 0;
  padding: 0;
}

.lineup-artists .featured-image {
  width: 100%;
}

.lineup-artists .featured-image img {
  width: 100%;
  max-width: 100%;
}

/*------------------------------------------------------------
### lineup-artists-wrap
------------------------------------------------------------*/
.lineup-artists .lineup-artists-wrap {
  margin-top: 80px;
}

.lineup-artists .lineup-artists-wrap .lineup-artists-description {
  position: relative;
  width: 100%;
}

.lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
  position: relative;
  padding: 30px;
  background: hsl(0, 0%, 100%);
  box-shadow: 50px 40px 115px rgba(0, 0, 0, 0.1);
}

.lineup-artists-description .entry-title {
  font-size: 30px;
  font-weight: 600;
  color: hsl(0, 0%, 9%);
}

.lineup-artists-description .entry-content {
  margin-top: 20px;
  font-size: 15px;
  color: hsl(0, 0%, 60%);
  line-height: 2;
}

.lineup-artists-wrap .box-link {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -24px;
  right: 50px;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .lineup-artists .lineup-artists-wrap {
    margin-top: 30px;
  }

  .lineup-artists .featured-image {
    max-width: 360px;
  }

  .lineup-artists .lineup-artists-wrap .lineup-artists-description {
    width: calc(100% - 360px);
  }

  .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
    position: absolute;
    z-index: 99;
    top: 100px;
    left: -75px;
    width: calc(100% + 75px);
  }

  .lineup-artists
    .lineup-artists-wrap:nth-of-type(even)
    .lineup-artists-description-container {
    right: -75px;
    left: auto;
  }

  .lineup-artists .lineup-artists-wrap:nth-of-type(even) .box-link {
    right: auto;
    left: 50px;
  }
}

@media screen and (min-width: 992px) {
  .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
    padding: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
    max-width: 660px;
  }

  .lineup-artists .lineup-artists-wrap:nth-last-of-type(1) {
    margin-left: 80px;
  }
}

/*------------------------------------------------------------
# the-complete-lineup
------------------------------------------------------------*/
.the-complete-lineup {
  margin-top: 115px;
}

.the-complete-lineup .entry-title p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: hsl(0, 0%, 48%);
}

.the-complete-lineup .entry-title h2 {
  width: 100%;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  color: hsl(0, 0%, 0%);
}

/*------------------------------------------------------------
## the-complete-lineup-artists
------------------------------------------------------------*/
.the-complete-lineup-artists {
  position: relative;
  margin-top: 110px;
  height: auto;
}

.the-complete-lineup-artists .artist-single {
  margin-bottom: 0px;
}

.the-complete-lineup-artists .artist-single:nth-of-type(even) {
  margin-top: 120px;
}

.the-complete-lineup-artists .artist-single figure {
  margin: 0;
  padding: 0;
  width: 100%;
}

.the-complete-lineup-artists .artist-single .box-link {
  position: absolute;
  top: 15px;
  left: 232px;
  cursor: pointer;
}

.the-complete-lineup-artists .artist-single .featured-image img {
  max-width: 100%;
  height: auto;
  width: 255px;
}

.the-complete-lineup-artists .artist-single .featured-image a {
  display: block;
}

.the-complete-lineup-artists .artist-single h2 {
  margin-top: 38px;
  font-size: 24px;
  font-weight: 600;
  color: hsl(0, 0%, 2%);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .the-complete-lineup-artists .artist-single:nth-child(6) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .the-complete-lineup-artists .artist-single:nth-child(1) {
    margin-top: 2px;
  }

  .the-complete-lineup-artists .artist-single:nth-child(2) {
    margin-top: 90px;
  }

  .the-complete-lineup-artists .artist-single:nth-child(3) {
    margin-top: 48px;
  }

  .the-complete-lineup-artists .artist-single:nth-child(4) {
    margin-top: 0;
  }

  .the-complete-lineup-artists .artist-single:nth-child(5) {
    margin-top: 75px;
  }

  .the-complete-lineup-artists .artist-single:nth-child(6) {
    margin-top: 165px;
  }

  .the-complete-lineup-artists .artist-single:nth-child(7) {
    margin-top: 25px;
  }

  .the-complete-lineup-artists .artist-single:nth-child(8) {
    margin-top: 75px;
  }
}

/*------------------------------------------------------------
# see the-complete-lineup button
------------------------------------------------------------*/
.see-complete-lineup {
  margin-top: 105px;
}

.see-complete-lineup .entry-footer .btn {
  padding: 15px 35px;
  border-radius: 0;
  margin-right: 20px;
  background: -webkit-linear-gradient(#00d0ff, #25ffbf);
  font-weight: 500;
}

.see-complete-lineup .entry-footer a {
  font-size: 14px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

/*------------------------------------------------------------
# homepage-next-events
------------------------------------------------------------*/
.homepage-next-events {
  margin-top: 100px;
}

.homepage-next-events .entry-title h2 {
  width: 100%;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  color: #00666b;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .homepage-next-events {
    margin-top: 20px;
  }

  .homepage-next-events .entry-title h2 {
    width: 100%;
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    color: #00666b;
    text-align: center;
  }
}

/*------------------------------------------------------------
## .next-event-slider
------------------------------------------------------------*/
.next-event-slider-wrap {
  position: relative;
}

.next-event-slider {
  margin-top: 110px;
}

.next-event-slider .featured-image {
  display: block;
  margin: 0;
  position: relative;
}

.next-event-slider .featured-image img {
  display: block;
  width: 100%;
}

.next-event-slider .entry-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.next-event-slider .featured-image:hover .entry-content {
  opacity: 1;
  visibility: visible;
}

.next-event-slider .entry-content h3 {
  font-size: 24px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.next-event-slider .entry-content p {
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
}

/*------------------------------------------------------------
# home-page-last-news
------------------------------------------------------------*/
.home-page-last-news {
  margin-top: 220px;
}

.home-page-last-news .entry-title p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: hsl(0, 0%, 48%);
}

.home-page-last-news .entry-title h2 {
  width: 100%;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  color: hsl(0, 0%, 0%);
}

/*------------------------------------------------------------
## home-page-last-news-wrap
------------------------------------------------------------*/
.home-page-last-news-wrap {
  margin-top: 110px;
}

.home-page-last-news-wrap .box-link-date {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 10px 25px;
  background: -webkit-linear-gradient(#00d0ff, #25ffbf);
  font-size: 20px;
  font-weight: 500;
}

.home-page-last-news-wrap .box-link-date a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.home-page-last-news-wrap .content-wrapper {
  background: hsl(0, 0%, 100%);
  box-shadow: 10px 40px 115px 27px rgba(0, 0, 0, 0.1);
}

.home-page-last-news-wrap .featured-image {
  margin: 0;
  padding: 0;
  box-shadow: 10px 40px 115px 27px rgba(0, 0, 0, 0.1);
}

.home-page-last-news-wrap .featured-image img {
  max-width: 100%;
}

.home-page-last-news-wrap .entry-content {
  padding: 35px 45px;
}

.home-page-last-news-wrap .entry-content .entry-header h2 {
  font-size: 24px;
  font-weight: 600;
  color: hsl(0, 0%, 9%);
}

.home-page-last-news-wrap .entry-content .entry-header h2 a {
  color: hsl(0, 0%, 9%);
}

.home-page-last-news-wrap .entry-content .entry-meta {
  margin-top: 6px;
  font-size: 12px;
  color: hsl(0, 0%, 9%);
  font-weight: 500;
}

.home-page-last-news-wrap .entry-content .entry-meta a {
  color: hsl(0, 0%, 10%);
}

.home-page-last-news-wrap .entry-content .entry-description {
  margin-top: 25px;
  font-size: 15px;
  color: hsl(0, 0%, 60%);
  line-height: 2;
}

.home-page-last-news-wrap .entry-content .entry-meta span {
  margin-right: 10px;
}

/*------------------------------------------------------------
# site-footer
------------------------------------------------------------*/
.site-footer {
  position: relative;
  padding: 40px 0 30px;
  background: url(images/footer-collage-min.jpg) no-repeat;
  background-size: cover;
}

.site-footer::before {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  z-index: 3;
  background: hsla(0, 0%, 5%, 0.7);
  top: 0;
  left: 0;
}

.site-footer .footer-cover-title {
  min-height: 240px;
  width: 100%;
}

.site-footer .footer-cover-title h2 {
  font-size: 10vw;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
  color: hsl(0, 0%, 100%);
  mix-blend-mode: overlay;
  z-index: 2;
}

@media screen and (max-width: 720px) {
  .site-footer {
    position: relative;
    padding: 20px 0 15px;
    background: url(images/footer-collage-min.jpg) no-repeat;
    background-size: cover;
    align-items: center;
  }

  .site-footer::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    z-index: 3;
    background: hsla(0, 0%, 5%, 0.7);
    top: 0;
    left: 0;
  }

  .site-footer .footer-cover-title {
    width: 100%;
    min-height: 160px;
  }

  .site-footer .footer-cover-title h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    mix-blend-mode: overlay;
    z-index: 2;
  }
}

/*------------------------------------------------------------
## .site-footer footer-content-wrapper
------------------------------------------------------------*/
.footer-content-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 4;
  top: 130px;
  left: 0;
  padding: 6px 0;
  text-align: center;
}

.footer-content-wrapper .flex {
  flex-direction: column;
}

.footer-content-wrapper .entry-title {
  text-align: center;
  margin-top: 25px;
}

.footer-content-wrapper .entry-title a {
  font-size: 52px;
  font-weight: 700;
  font-family: "Calibri";
  color: hsl(0, 0%, 100%);
  line-height: 1;
  text-decoration: none;
}

.footer-content-wrapper .entry-mail {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.footer-content-wrapper .entry-mail a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.footer-content-wrapper .footer-social {
  margin-top: 32px;
  font-size: 54px;
}

.footer-content-wrapper .footer-social .flex {
  flex-direction: row !important;
}

.footer-content-wrapper .footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-content-wrapper .footer-social ul a {
  padding: 5px 16px;
  font-size: 24px;
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 720px) {
  .footer-content-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 4;
    top: 30px;
    left: 0;
    padding: 6px 0;
    text-align: center;
  }

  .footer-content-wrapper .flex {
    flex-direction: column;
  }

  .footer-content-wrapper .entry-title {
    text-align: center;
    margin-top: 25px;
  }

  .footer-content-wrapper .entry-title a {
    font-size: 32px;
    font-weight: 700;
    font-family: "Calibri";
    color: hsl(0, 0%, 100%);
    line-height: 1;
    text-decoration: none;
  }

  .footer-content-wrapper .entry-mail {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
  }

  .footer-content-wrapper .entry-mail a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  }

  .footer-content-wrapper .footer-social {
    margin-top: 16px;
    font-size: 24px;
  }

  .footer-content-wrapper .footer-social .flex {
    flex-direction: row !important;
  }

  .footer-content-wrapper .footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer-content-wrapper .footer-social ul a {
    padding: 5px 16px;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
  }
}

.nss_logo {
  width: 160px;
  height: 160px;
  margin-right: 40px;
}
@media screen and (min-width: 768px) {
  .nss_logo {
    float: right;
  }
}
.add {
  float: left;
  text-align: left;
  font-size: 20px;
  font-family: "Calibri";
  margin-top: 40px;
  margin-left: 40px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .address-logo {
    width: max-content;
    flex: column;
    position: relative;
    text-align: center;
    margin-left: 150px;
  }
  .add {
    text-align: center;
    font-size: 10px;
    font-family: "Calibri";
    margin: 8px;
    font-weight: bold;
  }
  .nss_logo {
    width: 40px;
    height: 40px;
    margin-left: 40px;
  }
}

/*------------------------------------------------------------
# about-us
------------------------------------------------------------*/
.about-us {
  background: #fff1b8;
  width: 100%;
  height: 100%;
}

/*------------------------------------------------------------
# site-header
------------------------------------------------------------*/

.about-us .site-header figure {
  margin: 0;
  padding: 0;
}

.about-us .site-header figure img {
  max-width: 100%;
}

/*------------------------------------------------------------
## Page Header
------------------------------------------------------------*/
.page-header {
  min-height: 520px;
  padding-top: 280px;
  background-size: cover;
}

.about-us .page-header {
  background: url("images/cover-images/about-us.jpg") no-repeat;
  background-size: cover;
}

.page-header .entry-title {
  font-size: 72px;
  color: #efc319;
  margin: 0;
  padding: 0;
}

.page-header .breadcrumbs {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  list-style: none;
}

.page-header .breadcrumbs li {
  position: relative;
  padding-right: 14px;
}

.page-header .breadcrumbs li::after {
  content: "/";
  position: absolute;
  top: 3px;
  right: 0;
  height: 20px;
  width: 14px;
  font-size: 12px;
  text-align: center;
}

.page-header .breadcrumbs li:nth-last-of-type(1)::after {
  display: none;
}

.page-header .breadcrumbs li a {
  text-decoration: none;
  color: #fff;
}

.main-content {
  margin: 100px 0 40px 0;
}

.main-content .entry-header .entry-title p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: #7a7a7a;
}

.main-content .entry-header .entry-title h2 {
  width: 100%;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  color: #00666b;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .main-content {
    margin-top: 20px;
  }

  .main-content .entry-header .entry-title h2 {
    width: 100%;
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    color: #00666b;
    text-align: center;
  }
}

.about-us .main-content .entry-content {
  margin-top: 100px;
}

.about-us .main-content .entry-content .entry-header h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  color: #040608;
}

.about-us .main-content .entry-content .entry-description p {
  margin: 0 !important;
  padding: 0;
  margin-top: 25px !important;
  font-size: 15px;
  font-weight: 300;
  color: #989898;
  line-height: 2;
  word-break: break-all;
  hyphens: auto;
}

.about-us .main-content .featured-image {
  margin-top: 110px;
}

.about-us .main-content .featured-image img {
  max-width: 100%;
}

.about-us .hero-slider-images {
  margin-top: 110px;
}

.about-us .hero-slider-images .featured-images {
  position: relative;
  margin: 0;
  padding: 0;
}

.about-us .hero-slider-images .featured-images a {
  display: block;
}

.about-us .hero-slider-images .featured-images img {
  max-width: 100%;
}

.about-us .hero-slider-images .featured-images .button {
  position: absolute;
  top: 43%;
  left: 47.4%;
}

.milestones {
  padding-bottom: 120px;
}

.milestones .d-col-n {
  min-width: 150px;
}

/*------------------------------------------------------------
# about-us content

------------------------------------------------------------*/
.about-us-content {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 58px;
}
.outer {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(/images/iitr.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
}

.inner {
  opacity: 0.7;
  padding: 50px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252525;
  transition: width 200ms ease;
  border-radius: 8px;
}

.inner:hover .text {
  transform: translateX(-3%);
}

.text {
  font-size: 18px;
  color: #fff;
  text-align: left;
  transition: transform 200ms ease;
}
@media screen and (min-width: 768px) {
  .outeri {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .outer {
    display: none;
  }
}
.texti {
  font-size: 18px;
  color: #fff;
  text-align: center;
  transition: transform 200ms ease;
}
.inneri:hover .texti {
  transform: translateX(-3%);
}
.inneri {
  opacity: 0.7;
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252525;
  transition: width 200ms ease;
  border-radius: 8px;
}

/* ------------------------------------------------------------
# tickets-page
------------------------------------------------------------ */
.tickets-page {
  background: #fff1b8;
  width: 100%;
  height: 100%;
}
/* ------------------------------------------------------------
# Page Header
------------------------------------------------------------ */
.tickets-page .page-header {
  background: url("images/cover-images/events.jpg") no-repeat;
}
.tickets-page .tabs {
  margin-top: 80px;
}
.tickets-page .tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tickets-page .tabs .active {
  background: -webkit-linear-gradient(#00d0ff, #25ffbf) !important;
}
.tabs .tab-nav {
  padding: 10px 10px;
  margin-right: 0;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  color: #040608;
  cursor: pointer;
}
.tabs .tab-nav:hover {
  background: -webkit-linear-gradient(#00d0ff, #25ffbf) !important;
}
.tickets-page .tabs .tabs-container {
  margin-top: 5px;
  box-shadow: 13px 26px 139px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.tickets-page .tabs .tab-content {
  padding: 48px 15px;
  color: #989898;
  font-size: 15px;
  line-height: 1.8;
}
@media screen and (min-width: 576px) {
  .tabs .tab-nav {
    padding: 20px;
  }
}
@media screen and (min-width: 992px) {
  .tabs .tab-content {
    padding: 48px;
  }
  .tabs .tab-nav {
    padding: 20px 60px;
    margin-right: 10px;
    font-size: 15px;
  }
}
.tickets-page .single-event-details-row {
  margin-bottom: 30px;
}
.tickets-page .single-event-details-row:nth-last-of-type(1) {
  margin-bottom: 0;
}
.single-event-details,
.single-event-details a,
.single-event-details label {
  font-size: 18px;
  font-weight: 500;
  color: #040608;
}
.single-event-details label {
  display: block;
  margin-bottom: 0;
  color: #232127;
}
.single-event-details p,
.single-event-details a {
  color: #989898;
}
.single-event-details-row p.sold-out {
  color: #040608;
}
.single-event-details-row p.sold-out span {
  color: #ff0000;
}
.single-event-map {
  width: 100%;
  margin-top: 30px;
}
.single-event-map iframe {
  width: 100%;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .tickets-page .single-event-heading {
    width: auto;
  }
  .single-event-details {
    width: 220px;
  }
  .single-event-map {
    width: calc(100% - 220px);
    margin: 0;
  }
  .event-tickets {
    padding: 40px;
  }
}
@media screen and (min-width: 992px) {
  .single-event-details {
    width: 340px;
  }
  .single-event-map {
    width: calc(100% - 340px);
    margin: 0;
  }
  .event-tickets .ticket-row {
    margin-bottom: 15px;
  }
  .ticket-type {
    width: calc(100% - 400px);
    margin-bottom: 0;
  }
  .event-tickets .number-of-ticket {
    margin-bottom: 0;
  }
}
.tickets-page .event-tickets {
  padding: 72px 48px;
  background: #fff;
  box-shadow: 13px 26px 139px rgba(0, 0, 0, 0.1);
}
.tickets-page .event-tickets .ticket-row {
  background: #f4f6f7;
  margin-bottom: 15px;
}
.tickets-page .event-tickets .ticket-row .ticket-type {
  padding: 15px 24px;
  margin-right: 15px;
}
.tickets-page .event-tickets .ticket-row .entry-title {
  font-size: 18px;
  font-weight: 500;
  color: #03070c;
  width: 235px;
  margin: 0;
  padding: 0;
}
.tickets-page .main-content .event-tickets .ticket-type span {
  font-size: 16px;
  font-weight: 500;
  color: #989898;
  margin: 0;
  padding: 0;
  width: 300px;
}
.tickets-page .main-content .event-tickets .ticket-price {
  font-size: 18px;
  font-weight: 500;
  color: #03070c;
  width: 50px;
}
.tickets-page .event-tickets .number-of-tickets {
  width: 120px;
  padding: 15px 24px;
  margin-right: 25px;
}
.tickets-page .number-of-tickets .increase-ticket,
.tickets-page .number-of-tickets .decrease-ticket {
  font-size: 18px;
  font-weight: 500;
  color: #03070c;
  cursor: pointer;
}
.tickets-page .number-of-tickets .ticket-count {
  font-size: 18px;
  font-weight: 400;
  color: #03070c;
  width: 32px;
  border: 0;
  text-align: center;
  background: #f3f8f9;
}
.tickets-page .clear-ticket-count {
  font-size: 16px;
  font-weight: 500;
  color: #989898;
  margin-right: 60px;
  cursor: pointer;
}
.tickets-page .ticket-row .btn {
  background: #f3f8f9;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  color: #ff2630;
}
/* ------------------------------------------------------------
# Partners
------------------------------------------------------------ */
.blog-page {
  width: 100%;
  height: 100%;
  background: #fff;
}

.grid-logos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.grid-logos__item {
  align-self: center;
  border: solid 1px #ddd;
  height: 150px;
  flex-basis: 100%;
  text-align: center;
}
@media all and (min-width: 450px) {
  .grid-logos__item {
    flex-basis: 50%;
  }
}
@media all and (min-width: 900px) {
  .grid-logos__item {
    flex-basis: 25%;
  }
}
.grid-logos img {
  max-height: 600px;
  max-width: 300px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.item {
  width: 33%;
  float: left;
  padding: 50px;

  /*background-color:#fff;*/
}

.item p {
  min-height: 3em;
  /*background-color:#fed;*/
  margin: 0.5em 0 0 0;
  font-size: 0.9em;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  /*   body {
   background-color:#ddf;
 } */

  .item {
    width: 33.3%;
  }
}

@media screen and (max-width: 800px) {
  /*   body {
   background-color:#cdd;
 } */

  .item {
    width: 50%;
  }

  .item p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 400px) {
  /*   body {
   background-color:#ded;
 } */

  .item {
    width: 100%;
  }
}

/* ------------------------------------------------------------
# site-header
------------------------------------------------------------ */
.blog-page .page-header {
  background: url("images/cover-images/partners.jpg") no-repeat;
}

/* ------------------------------------------------------------
# contact-page
------------------------------------------------------------ */
.contact-page {
  /* background: url("images/contact-background-image.png") no-repeat; */
}
/* ------------------------------------------------------------
# site-header
------------------------------------------------------------ */
.contact-page .page-header {
  background: url("images/contact-header-background.jpg") no-repeat;
}
.contact-page .main-content {
  background: #fff;
  box-shadow: 13px 14px 68px rgba(0, 0, 0, 0.1);
}
.contact-page-map {
  width: 100%;
}
.contact-page-map iframe {
  width: 100%;
  height: 660px;
}
.contact-page .contact-details {
  margin-top: 70px;
}
.contact-page .contact-details .contact-medium {
  padding: 0 20px;
}
.contact-page .contact-details .contact-medium .contact-icon {
  padding: 0;
  margin-right: 20px;
}
.contact-page .contact-details .contact-medium .contact-icon img {
  max-width: 100%;
  height: auto;
}
.contact-page .contact-details .contact-medium .entry-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #040608;
}
.contact-page .contact-details .contact-medium .entry-content {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #989898;
}
.contact-page .get-in-touch {
  margin-top: 115px;
  padding: 0 15px;
}
@media screen and (min-width: 992px) {
  .contact-page .get-in-touch {
    padding: 0 100px;
  }
}
.contact-page .get-in-touch .entry-header {
  text-align: center;
}
.contact-page .get-in-touch .entry-title p {
  font-size: 14px;
  font-weight: 500;
  color: #989898;
  margin: 0;
}
.contact-page .get-in-touch .entry-title h2 {
  font-size: 48px;
  font-weight: 600;
  color: #050505;
  margin: 5px 0 0;
}
.contact-page .get-in-touch .entry-content {
  margin-top: 45px;
}
.contact-page .get-in-touch .entry-content p {
  font-size: 15px;
  color: #989898;
  line-height: 2;
  text-align: center;
}
.contact-page .main-content .get-in-touch .contact-form {
  margin-top: 120px;
}
.contact-page .contact-form input[type="text"],
.contact-page .contact-form input[type="email"],
.contact-page .contact-form textarea {
  width: 100%;
  padding: 14px 22px;
  margin-bottom: 30px;
  border: 0;
  background: #f4f6f7;
  color: #050505;
  outline: none;
}
.contact-page .contact-form input[type="text"]::placeholder,
.contact-page .contact-form input[type="email"]::placeholder,
.contact-page .contact-form textarea::placeholder {
  color: #7f7f7f;
  font-style: italic;
}
.contact-page .contact-form .submit {
  margin-top: 15px;
  margin-bottom: 120px;
}
.contact-page .contact-form .submit .btn {
  padding: 15px 30px;
  margin-right: 20px;
  border-radius: 0;
  font-weight: 600;
  background: -webkit-linear-gradient(#00d0ff, #25ffbf);
}
/* ------------------------------------------------------------
# elements-page
------------------------------------------------------------ */

.elements-page .page-header {
  background: url("images/cover-images/home-cover.jpg") no-repeat;
  background-size: cover;
}
.elements-page .elements-wrap {
  margin-bottom: 110px;
}
.elements-page .elements-wrap .entry-header h2.entry-title {
  color: #040608;
  font-size: 48px;
  font-weight: 600;
}
.elements-page .elements-wrap h2.entry-title {
  margin-bottom: 90px;
}
.elements-page .elements-wrap .entry-content .btn {
  height: 55px;
  width: 165px;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  color: #040608;
}
.elements-page .elements-wrap .entry-content .gradient {
  background: -webkit-linear-gradient(#00d0ff, #25ffbf);
}
.elements-page .elements-wrap .entry-content .white {
  background: white;
  box-shadow: 0 13px 50px 9px rgba(0, 0, 0, 0.1);
}
.elements-page .elements-wrap .entry-content .border-blu {
  border: 2px solid #0de7e4;
}
.elements-page .elements-wrap .entry-content .color-border {
  border: 2px solid #0de7e4;
  padding: 6px;
  background: #0de7e4;
  background-clip: content-box;
}
.counter-box {
  text-align: center;
}
.counter-box .start-counter {
  font-size: 60px;
  font-weight: 500;
  color: #040608;
}
.counter-box .start-counter,
.counter-box .counter-k {
  font-size: 60px;
  font-weight: 600;
  color: #040608;
  text-align: center;
}
.counter-box .entry-title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #989898;
}
.tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs ul .active {
  background: -webkit-linear-gradient(#00d0ff, #25ffbf) !important;
}
.tabs ul .tab-nav {
  padding: 15px 40px;
  line-height: 1;
  color: #040608;
  font-weight: 600;
  cursor: pointer;
}
.tabs-container {
  background: #f3f8f9;
  box-shadow: 5px 14px 100px rgba(0, 0, 0, 0.1);
}
.tabs-container .tab-content {
  display: block;
  padding: 48px;
  background: #fff;
}
.tabs-container .tab-content .entry-header {
  margin-top: 0;
  font-size: 24px;
  font-weight: 500;
  color: #040608;
}
.tabs-container .tab-content p {
  margin-top: 35px;
  color: #989898;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}
.accordion-and-tabs-wrap .accordion-wrap {
  position: relative;
}
.accordion-and-tabs-wrap .accordion-wrap .entry-title {
  width: 445px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 16px;
  color: #040608;
  cursor: pointer;
}
.accordion-and-tabs-wrap .accordion-wrap .entry-title .arrow-d::before {
  content: "-";
}
.accordion-and-tabs-wrap .accordion-wrap .entry-title .arrow-r::before {
  content: "+";
}
.accordion-and-tabs-wrap .accordion-wrap .active {
  background: -webkit-linear-gradient(#00d0ff, #25ffbf);
}
.accordion-and-tabs-wrap .accordion-wrap .entry-content {
  display: none;
  width: 100%;
  height: auto;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 300;
  color: #989898;
  line-height: 2;
}
.accordion-and-tabs-wrap .accordion-wrap .accordion-active {
  display: block;
  margin-top: 0;
}
.circular-progress-bar {
  margin-bottom: 60px;
  text-align: center;
}
.circular-progress-bar .circle {
  position: relative;
  width: 210px;
  height: 210px;
}
.circular-progress-bar .circle strong {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  font-size: 60px;
  color: #050505;
}
.circular-progress-bar .entry-title {
  position: absolute;
  top: 145px;
  left: 0;
  font-size: 16px;
  font-weight: 600;
  color: #989898;
  text-align: center;
  width: 100%;
}
.icon-box .entry-header {
  position: relative;
  margin: 0;
}
.icon-box .entry-header::before {
  position: absolute;
  content: "01.";
  top: -18px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  background: -webkit-linear-gradient(#00d0ff, #25ffbf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-box .entry-header .entry-title {
  padding-left: 84px;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #050505;
}
.icon-box .entry-content {
  margin-top: 30px;
  color: #989898;
  font-size: 15px;
  line-height: 2;
  word-break: break-all;
}
.icon-box-1 .entry-header::before {
  content: "01.";
}
.icon-box-2 .entry-header::before {
  content: "02.";
}
.icon-box-3 .entry-header::before {
  content: "03.";
}
.faq{

  padding:30px;
  color:black;
  font-family: sans-serif;
}
@media screen and (max-width:768px){
  .faq{
    padding:40px;
   
  }
  h1{
    font-size:30px;
  }
  .contact,.info{
    display:none;
  }
  
  
}
@media screen and (min-width:768px){
  .contacti{
    display:none;
  }}
.contact{
  font-size:20px;
  padding:30px;
  color:black;
  font-family: sans-serif;
  text-align: center;
}
.info{
  font-weight:bold;
  font-size:20px;
}
.mate{
  padding-left: 180px;
}
.contacti{
  font-size:20px;
  padding:30px;
  color:black;
  font-family: sans-serif;
  text-align: center;
}
.infoi{
  font-weight:bold;
  font-size:20px;
}